@import v1.http.Error
@import play.api.i18n.Messages
@import v1.constantes.MessageConstants

@(error: Error)(implicit messages: Messages)

@defining(messages(MessageConstants.title.error)) { title =>
	@main(title) {
		@titleTemplate(title)
		<h2>@messages(MessageConstants.template.mainError)</h2>
		<div class="panel panel-danger">
			<div class="panel-heading">
				<strong>Code</strong> : @error.code; 
			</div>
			<div class="panel-body">
				<strong>Message</strong> : @error.userMessage
			</div>
		</div>
		@if(error.errors.isDefined) {
			<h2>@messages(MessageConstants.template.subErrors)</h2>
			@for(subError <- error.errors.get) {
			<div class="panel panel-danger">
				<div class="panel-heading">
					<strong>Code</strong> : @subError.field; 
				</div>
				<div class="panel-body">
					<strong>Message</strong> : @subError.userMessage
				</div>
			</div>
			}
		}
	}
}
