@import v1.bo.Operation
@import play.api.libs.json.Json
@import v1.constantes.MessageConstants
@import org.asynchttpclient.util.HttpConstants

@(operation: Operation, operationIndex: Int = 0)(implicit messages: Messages)
	
@if(operation.call.isDefined) {
	@defining(operation.call.get.method match {
	  case HttpConstants.Methods.GET => "primary";
	  case HttpConstants.Methods.POST => "warning";
	  case HttpConstants.Methods.PUT => "warning";
	  case HttpConstants.Methods.DELETE => "danger";
	  }) { methodClass =>
	<div class="panel panel-@methodClass">
	}
		<div class="panel-heading"
			role="button" data-toggle="collapse" href="#collapsePanel-@operationIndex" 
			aria-expanded="false" aria-controls="collapsePanel-@operationIndex">
			<p><strong>@operation.call.get.method </strong> @operation.call.get.url</p>
			<p>@operation.description</p>
			
		</div>
		<div class="panel-body collapse" id="collapsePanel-@operationIndex">
			<h2>@messages(MessageConstants.template.request)</h2>
			<div class="well">
				@if(operation.request.isDefined) {
					@requestContents(operation.request.get)
				} else {
					<p>@messages(MessageConstants.template.empty)</p>
				}
			</div>
			
			<h2>@messages(MessageConstants.template.response)</h2>
			<div class="well">
				@if(operation.response.isDefined) {
					@requestContents(operation.response.get)
				} else {
					<p>@messages(MessageConstants.template.empty)</p>
				}
			</div>
		</div>
	</div>
}