@import bo.Operation
@import play.api.libs.json.Json
@import constantes.MessageConstant

@(operation: Operation, operationIndex: Int = 0)(implicit messages: Messages)
	
@if(operation.call.isDefined) {
	@defining(operation.call.get.method match {
	  case "GET" => "primary";
	  case "POST" => "warning";
	  case "PUT" => "warning";
	  case "DELETE" => "danger";
	  }) { methodClass =>
	<div class="panel panel-@methodClass">
	}
		<div class="panel-heading"
			role="button" data-toggle="collapse" href="#collapsePanel-@operationIndex" 
			aria-expanded="false" aria-controls="collapsePanel-@operationIndex">
			<p><strong>@operation.call.get.method </strong> @operation.call.get.url</p>
			<p>@operation.description</p>
			
		</div>
		<div class="panel-body collapse" id="collapsePanel-@operationIndex">
			<div>
				<h3>@messages(MessageConstant.template.body)</h3>
				@if(operation.body.isDefined) {
					<pre><code>@Json.prettyPrint(operation.body.get)</code></pre>
				} else {
					<p>@messages(MessageConstant.template.empty)</p>
				}
			</div>
			<div class="well">
				<h3>@messages(MessageConstant.template.errors)</h3>
				
				@if(operation.errors.isDefined && !operation.errors.get.isEmpty) {
					<ul>
						@for(error <- operation.errors.get) {
							<li>
								<strong>@error._1 : </strong>@error._2
							</li>
						}
					</ul>
				} else {
					<p>@messages(MessageConstant.template.empty)</p>
				}
			</div>
		</div>
		<div class="panel-footer">
			<h3>@messages(MessageConstant.template.parameters)</h3>
			
			@if(operation.parameters.isDefined && !operation.parameters.get.isEmpty) {
				<ul>
				@for(parameter <- operation.parameters.get) {
					<li>
						<strong>@parameter._1 : </strong>@parameter._2
					</li>
				}
				</ul>
			} else {
				<p>@messages(MessageConstant.template.empty)</p>
			}
			
			<h3>@messages(MessageConstant.template.response)</h3>
			
			@if(operation.response.isDefined) {
				<p>@operation.response</p>
			} else {
				<p>@messages(MessageConstant.template.empty)</p>
			}
		</div>
	</div>
}