@import play.api.i18n.Messages
@import constantes.MessageConstant
@import scala.collection.mutable.Map

@(title:String, availableOperations:Map[String, String])(implicit messages: Messages)

@main(title) {
		<div class="header-with-logo">
			<div class="header-title">
				<h1>@title</h1>
				<ul>
					@for(availableOperation <- availableOperations) {
					  <li><strong>Methode</strong> : @availableOperation._1; <strong>URI</strong> : @availableOperation._2</li>
					}
				</ul>
			</div>
		</div>
}
