	@import bo.Route

@(route: Route)

<!--			<div class="panel panel-primary">...</div>
<div class="panel panel-success">...</div>
<div class="panel panel-info">...</div>
<div class="panel panel-warning">...</div>
<div class="panel panel-danger">...</div>-->

<div class="panel panel-primary">
	<div class="panel-heading"
		role="button" data-toggle="collapse" href="#collapsePanel" 
		aria-expanded="false" aria-controls="collapsePanel">
		<strong>@route.method :</strong> @route.url
	</div>
	<div class="panel-body collapse" id="collapsePanel">
		<div>
			<h3>Body</h3>
			@if(route.body.isDefined) {
				<div>
					<textarea class="json col-sm-12" readonly="true" rows="14">@route.body</textarea>
				</div>
			} else {
				<p>Nothing to display</p>
			}
		</div>
		<div class="well">
			<h3>Errors</h3>
			
			@if(route.errors.isDefined) {
				<ul>
					@for(error <- route.errors.get) {
						<li>
							<strong>@error._1 : </strong>@error._2
						</li>
					}
				</ul>
			} else {
				<p>Nothing to display</p>
			}
		</div>
	</div>
	<div class="panel-footer">
		<h3>Parameters</h3>
		
		@if(route.parameters.isDefined) {
			<ul>
			@for(parameter <- route.parameters.get) {
				<li>
					<strong>@parameter._1 : </strong>@parameter._2
				</li>
			}
			</ul>
		} else {
			<p>Nothing to display</p>
		}
	</div>
</div>

<script src="@routes.Assets.versioned("javascripts/route.js")" type="text/javascript"></script>
<!-- TODO Externalise -->